/**
 * Global forum table element styles
 */
.forum {
	margin-top: 15px;
}

.forum [class^="icon-"] {
	margin-left: -3px;
	margin-right: 3px;
	margin-top: 1px;
}

.forum-table {
	width: 1000px;
	margin-top: 20px;
	float: left;
}

.forum-table th, .forum-table td {
    text-align: left;
    vertical-align: middle;
}

.forum-table th {
	border: none;
}

.forum-table td {
    padding: 5px 0;
}

.forum-table th.header, .form-table th.header {
    padding: 3px 5px;
    text-align: left;
}

.forum-icon img {
    border: none;
    margin: 0;
}

tr.header {
	background: #FFFCEC;
}

tr.header-alt {
	background: #f5f5f5;
}

th.forum-icon {
    width: 20px;
}

td.forum-icon, td.forum-name {
    vertical-align: top;
}

.forum-table .forum-name h3 {
	margin-left: 15px;
}

.forum-table .forum-topic, .forum-table .forum-replies {
    text-align: center;
    width: 75px;
}

.forum-table th {
    padding: 5px 0;
}

th.forum-info, td.forum-info {
    width: 160px;
    padding-right: 5px;
}

.forum-name div {
    padding-bottom: 7px;
	font-size: 16px;
	color: #333333;
	margin-left: 15px;
}

.forum-name .title h4 {
    margin: 0;
}

.forum-info div {
    padding: 0;
	color: #333333;
}

.author-label {
	font-size: 12px !important;
}

/**
 * anchor button styles
 *
 * individual hook classes are available to individually style a specific button
 * markall, newtopic, newreply, lock, unlock, stick, unstick
 * quote, edit, delete, permalink
 */

/* container that holds the new topic and reply buttons */
.forum-buttons {
    margin-bottom: 5px;
	margin-left: 10px;
	float: left;
}
/* global forum anchor button style */
a.button {
    padding: 1px 5px;
    float: right;
    margin-right: 5px;
    text-align: center;
}
a.newtopic, a.newreply {
    float: left;
}
/**
 * Topic Table styles - the table that displays the topic thread
 */
.topic-table {   
}
.topic-table td.forum-name h5 {
	margin-left: 10px;
}
.topic-table td.author {
    padding-left: 5px;
}
.topic-table td.authorinfo {
    padding-left: 10px;
    vertical-align: top;
    width: 150px;
}
.topic-table td.authorinfo div {
    font-size: 12px;
	color: #333333;
    padding-bottom: 3px;
}
.topic-table td.authorinfo h4 {
	margin-top: 0;
	margin-bottom: 15px;
}
.topic-table td.body {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}
.topic-table .postreport {
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.topic-table .postlinks td {
    padding-left: 5px;
    padding-right: 5px;
}
.topic-table .align-right {
    text-align: right;
}
.topic-table blockquote, .preview blockquote {
    margin: 15px 10px;
    padding: 0;
    font-style: italic;
    font-size: 14px;
	color: #777777;
}
.topic-table blockquote strong, .preview blockquote strong {
    font-weight: bold;
}
.sticky {
	display:none;
    float: left;
}
/** ------------------------------- **/

/** Post preview styles **/
.preview {
    padding: 8px;
    margin-bottom: 5px;
}
.preview h4, .preview h5 {
    padding: 0 7px 0 7px;
    margin-bottom: 3px;
}
.preview h4 {
    text-align: right;
}

/**
 * forum search
 */
#forum-search {
    float: right;
	margin-top: -5px;
	margin-right: 5px;
    margin-bottom: 20px;
}
#forum-search form >* {
    float: left;
    margin-left: 5px;
}
#forum-search form a {
    display: block;
}
#forum-search form a.as {
	margin-top: 5px;
}
#forum-search input[type="text"] {
    width: 200px;
	padding: 6px 3px;
}
#forum-search input[type="submit"] {
    padding: 7px 6px 6px 6px;
}
.forum-buttons #forum-search form a {
    border: none;
    background-color: transparent;
    width: auto;
}
fieldset#keywords {
    width: 58%;
    padding: 10px 0;
    float: left;
    border: 1px solid #e9e9e9;
}
fieldset#keywords input[type="text"] {
    width: 96%;
    margin: 0 2%;
    padding-left: 0;
    padding-right: 0;
}
fieldset#keywords select {
    margin: 4px 2% 0 2%;
}
fieldset#forum-list {
    border: 1px solid #e9e9e9;
    margin-left: 10px;
    float: left;
    padding: 10px;
}
fieldset#sort-options {
    float: left;
    clear: left;
    padding: 8px;
    border: 1px solid #e9e9e9;
    margin-top: 5px;
}
fieldset#sort-options >* {
    float: left;
    margin-right: 3px;
}
#advanced-search p.submit {
    clear: left;
    float: left;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}
p.submit input {
    display: block;
    margin: 0 auto;
    float: none;
}

/**
 * Pagination
 */
.pagination {
    padding: 0;
    float: left;
    margin-bottom: 5px;
}
.pagination span {
    padding: 5px 8px;
    margin-right: 3px;
    border: 1px solid #c9c9c9;
    display: block;
    float: left;
}

/* Form Table styles - when creating new topics */
table.form-table {
    width: 100%;
	float: left;
	margin-left: -110px;
}
.form-table th.header {
    boder-radius: 5px;
    -moz-border-radius: 5px;
}
.form-table .title >*, .form-table .formatting >* {
    padding: 15px 5px;
    vertical-align: middle;
}
.form-table .formatting {
    text-align: center;
}
.form-table tbody th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    font-weight: bold;
}
.form-table td div {
    padding: 0;
}
.form-table #forum_input, .form-table #title {
    width: 100%;
}
form.forum {
    width: 100%;
}

.form-table .forum_buttons a {
    padding: 2px 12px;
    -webkit-appearance: none;
  	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
  	border-radius: 4px;
  	-moz-background-clip: padding;
  	-webkit-background-clip: padding;
  	background-clip: padding-box;
  	background: #dddddd;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  	background-image: -moz-linear-gradient(#ffffff, #dddddd);
  	background-image: -ms-linear-gradient(#ffffff, #dddddd);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  	background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  	background-image: -o-linear-gradient(#ffffff, #dddddd);
  	background-image: linear-gradient(#ffffff, #dddddd);
  	border: 1px solid;
  	border-color: #dddddd #bbbbbb #999999;
  	cursor: pointer;
  	color: #333333;
  	font-weight: bold;
  	outline: 0;
  	overflow: visible;
  	padding: 5px 10px;
  	text-shadow: #ffffff 0 1px 1px;
  	width: auto;
  	font-size: 12px;
}
.form-table .forum_buttons #email {
    border-right: none;
}
.form-table .forum_buttons #b {
    border-left: none;
}
.form-table .forum_buttons {
    float: left;
	margin-top: 10px;
}
.form-table .message >* {
    vertical-align: top;
    padding: 15px 5px;
}
.form-table .options >* {
    vertical-align: middle;
    padding: 15px 5px;
}
.form-table .options input {
    position: relative;
    top: 3px;
}

/**
 * Helper/Generic styles
 */

/** holds the anchor buttons for markall and new topics **/
#post-actions {
	margin-left: 10px;
    float: left;
}

/* Buttons */
.mod_buttons {
	margin: -5px 5px 0 0;
	float: right;
}

input.forum_buttons {
	color: #333333;
	margin-right: 5px;
}

/* badge */
span.badge {
	padding: 8px;
	margin-right: 125px;
	margin-bottom: 5px;
	float: left;
	text-align: center;
	border-radius: 3px;
}
a span.badge {
	color: #333333;
	font-weight: bold;
}
span.badge img {
	margin-top: 5px;
}

span.user { background: #eeeeee; }
span.support { background: #53b9d7; }
span.designer { background: #fe57a1; }
span.admin { background: #ffa302; }